
.main{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-areas: "title" "body";
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto;
    color: rgb(255, 255, 255);   

}
.title{
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: rgb(187, 255, 0);
    font-size: 40px;
    font-family: 'Mate SC', serif;
}

.body{
    grid-area: body;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Coldiac", sans-serif;
    font-weight: 600;
    justify-self: center;

}


.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 50%;
    max-width: 80vw;
    max-height: 50rem;
}

.contact div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact input{
    width: 500px;
    height: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(65, 64, 64);
    color: rgb(255, 255, 255);
    border: none;
    border-left: 1px solid rgb(187, 255, 0);
    border-bottom: 1px solid rgb(187, 255, 0);
    border-radius: 2px;
    font-family: "Coldiac", sans-serif;
}

.textarea {
    height: 100px !important;
    background-color: rgb(65, 64, 64);
    color: rgb(187, 255, 0);
}

button{
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(187, 255, 0);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    font-family: "Coldiac", sans-serif;
    font-weight: 600;
}